 @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&family=PT+Serif:ital@1&family=Poppins&family=Roboto+Serif:ital,opsz,wght@1,8..144,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x:hidden ;
}
#home{
    padding: 30px 100px;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.navbar{
    background-color: #212224;
} 
.navbar-nav .nav-item .nav-link{
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'poppins',sans-serif;
}
.navbar-nav .nav-item .nav-link:hover{
    color: rgb(16, 189, 16) !important;
}
#search{
    margin: 3px 30px;
    padding: 4px 15px;
    background: none;
    background-color:#dcdde123;
    padding-right: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    color: white;
    font-weight: 300;
    font-family: 'poppins',sans-serif;

}
.button-pd{
    border-radius: 8px !important;
    border: none;
    outline: none;
    padding: 0px 5px;
} 
.button-pd:hover{
    background-color: rgb(16, 189, 16) !important;
    border: 1px solid rgb(16, 189, 16) !important;
}

        /* navigatiom end */ 

       /* home page content start */

.home-content{
    padding: 5rem;
    display: flex;
 }

.content{
   width: 50%;
}
.content2{
    width: 50%;
}
.content2 img{
    width: 100%;
    height: 100%;
    margin: 3rem;   
    border-radius: 5px;
}
.c-1{
    text-transform: uppercase;
    color: #ab02ee;
    font-size: 16px;
    font-weight: bolder;
}
.c-2{
    color: white;
    word-spacing: 3px;
    font-weight: bold;
    font-size: 40px;
}
.c-3{
    color: #ffffffb7;
    font-size: 15px;
    line-height: 30px;
}
.like p{
    font-size: 15px;
    font-weight: bolder;
}
.m-btn{
    padding:  5px 35px;
    margin: 20px 0px;
    border-radius: 20px;
    border: none;
    background-color: #ab02ee;
    color: #fff;
    font-weight: bold;
}
.follow{
    display: flex;
    margin: 20px 0;
    gap: 40px;
    color: white;

}



/**** section 2 ***/
#explore{
    height: auto;
    padding: 90px 60px;
    background-color: #212429;
    font-family:'poppins',Arial, Helvetica, sans-serif;
}

  /*  <!--Explore content-1 start -->  */  
  
.main-content{
    gap: 20px;  
}
.explore-br{
    text-align: center;
    background-color:#dcdde111;   
    padding: 12px 20px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.explore-br img{
    width: 80px;
}
.explore-br h4{
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    padding-left: 5px;
    font-size: 1.2rem;
}
    
  /*   <!--Explore content-1 End --> */


  /*   <!--Explore content-2 Card start --> */
        
.card-main{
    height: 370px;
    margin-top: 30px;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    height: 90%;
    background-color: #222f3e79 !important;
    position: relative;
    transition: 0.3s ease;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    z-index: 2;

}
.c-logo{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    left: 27px;
    margin-top: 5px;
    overflow: hidden;
}
#color{
    background-color: coral !important;
}
.c-logo img{
    padding: 5px;  
    vertical-align: bottom;
    width: 50px;
    transition: 0.3s linear;
}
.tick{
width: 20px;
height: 20px;
position: absolute;
left: 60px;
top: 38px;

}
.tick .la-check{
padding: 3px;
background-color: #ab02ee;
border-radius: 50%;
text-align: center;
font-size: 12px; 
color: white;
}
.day{
    width: 180px;
    position: absolute;
    left: 90px;
    top: 20px;
}
.day button{
    padding: 5px;
    width: 180px;
    border-radius: 30px;
    border-color: #ab02ee;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    font-size: 14px !important;
}

.c-img{
    width: 100%;
    height:170px;
    padding: 1px 23px;
    margin-top: 60px;
    overflow: hidden;
}
.c-img img{
    width: 100%;
    height: 100%;
    transition: 0.5s linear;
}

.c-content{
    padding:30px 20px;
}
.c-content h4{
    color: #fff;
}
.span{
    color: #fff;
}
.c-content h5{
    color: #82858A;
    padding: 5px 0;
}
.c-content a{
    text-decoration: none;
    font-size: 15px;
    color: #8260e9;
    font-weight: 700;
}
.c-content p{
    text-align: right;
    color: #ffffffaf;
}
.la-heart{
    font-size: 20px;   
    transition: 0.2s ease;
    cursor: pointer;
}

.it{
    color: #fff;
    margin-top: 5rem ;
    margin-bottom: 2rem;
}

    /* Hover content */
.la-heart:hover{
    color: red;
    transform: scale(1.1);
}
/* .c-img img:hover{
    transform: scale(1.1);
} */
.c-logo img:hover{
    transform: scale(1.1);
}
.card:hover{
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: #212224;
}
  /*   <!--Explore content-2 Card start section 2 --> */
      

            /**** pages content  start  section 3 ***/

#pages {
    background-color: #212429;
    padding: 80px 45px;
    font-family: 'Roboto',sans-serif;
    height: auto !important;
}
.sell{
    color: #fff;
    font-size: 34px;
}
.p-main{
    display: flex;
    color: white;
    padding: 1.5rem;
    position: relative;
}
.p-pic{
    padding:0px 15px;
}
.p-img{
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    transition: 0.6s ease;
}
.p-img:hover{
    background-color: rgba(250, 172, 27, 0.829);
}
.p-pick{
   margin-top: 5px;
}
.p-size1{
    font-size: 1.3rem;
}
.p-size2{
    font-size: 1rem;
    line-height: 0px;
    color: rgba(255, 255, 255, 0.685) !important;
}
.p-ab{
    position: absolute;
    left: 73px;
    bottom: 38px;
}
            /**** pages content  end  SEction 3 ***/
         

       /** hot collection  section 4 start **/
#activity{
    background-color: #212429;
    padding: 36px 45px;
    font-family: 'Roboto',sans-serif;
    height: auto !important;
}       
.hot{
    color:#fff;
    font-size: 33px;
    margin: 50px 10px 20px 10px;
      
}
.collection{
    width: 100%;
    height: 350px;
    display: flex;
    font-family: "poppins",sans-serif;
}
.cal{
    width: 300px;
    height: 290px;
    background-color: #222f3e79;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    position: relative;   
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s ease;
}
.cal:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.cal-img{
    width: 100%;
    height: 170px;
    overflow: hidden;
}
.cal-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s ease-in;
}
.cal-img img:hover{
    transform: scale(1.2);
}
.cal-logo{
    position: absolute;
    left: 115px;
    bottom: 83px;
    border-radius: 50%;
}
.cal-logo p{
    background-color:#E4C79A;
    border-radius: 50%;
}
.cal-logo p img{
    background-color: #E4C79A; 
    border-radius: 50%; 
    padding: 3px;
}
.cal-content{
    padding: 35px 75px;
}
.cal-content h3{
    color: #fff;
}
.cal-content p{
    color: #ffffffa1;
    padding-left: 14px;
}
.hot-tick{
    position: absolute;
    right: 125px;
    bottom: 95px;
}

   /* section-4 end */


   /** create  section-5 start *****/
#Elements{
    background-color: #212429;
    padding: 36px 45px;
    font-family: 'Roboto',sans-serif;
    height: auto !important;
}   
.create{
    color: #fff;
    font-size: 33px;
    padding-bottom: 20px;
}
.wallet{
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: space-evenly;  
}
.wal{
    width: 350px;
    height: 300px;
    background-color: #222f3e79;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    transition: 0.5s ease;
    padding: 30px 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wal:hover{
    background-color: #192a56;
    
}
.wal h4{
    color: #fff;
    font-size: 18px;
    font-family: 'poppins',sans-serif;
    padding: 6px 0px;
}
.wal p{
    line-height: 25px;
    color: #c6cacf;
    font-weight: 500;
}
   /** create  section-5 end *****/
  


/***** footer 
***/

#footer{
    background-color: #212429;
    padding: 50px 10px;
    font-family: 'Roboto',sans-serif;
    color: white;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
}
.footer-txt p{
    color: #ffffffb0;
}
#footer-input{
    border: none;
    outline: none;
    background: none;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 4px;
    width: 230px;
}
.width{
    position: relative;
}
.f-arrow{
   background-color: #192a56;
   position: absolute;
   left: 190px;
   top: 104px;
   padding: 5.4px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   transition: 0.5s ease;
}
.f-arrow:hover{
    background-color: rgb(6, 161, 6);
}

/* footer content end */

/* bootom content start */
.bottom{
    display: flex;
    justify-content: space-between;
    padding: 12px 90px;
    background-color: #212429;
    border-top: 2px solid wheat;
}
.mrsakthi{
    font-size:1.2rem;
    color: white;
}
.mr-img{
    background-color:rgb(6, 161, 6);
    padding: 5px;
    width: 30px;
    transition: 0.3s ease;
}
.mr-img:hover{
    background-color: #00a8ff;
    cursor: pointer;
}




/* bootom content End */


     /* response website ***/
   

     /* media screen start  */ 

     /* media quary start  576px  768 992 1200 */
    
   /* 1200px start */
@media screen and (max-width : 1200px){

    /* home page */
    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content{
        width: 100%;
        text-align: center;
    }
    .m-btn{
        background-color: white;
    }
    .c-2{
        font-size: 3.2rem;
    }
    .c-3{
        font-size: 1.2rem;
    }
    .follow{
        justify-content: center;
    }
    .content2{
        width: 100%;
    }

    /* EXplore page */
    .card-main{
        height: 230px;
    }
    .day{
        left: 85px;
    }
    .day button{
        width: 110px;
        font-size: 9px !important;
    }
    .c-content{
        padding:15px 20px;
    }
    .c-content h4{
        font-size: 1.1rem;
    }
    .c-content h5{
        font-size: 1.1rem;
    }
    .c-img{
        height:150px;
        padding: 1px 10px;
    }
    .c-content p{
        position: absolute;
        right: 0;
        padding: 5px;
        bottom: -6px;
        font-size: 0.9rem;
    }

    /*seller page */
    .p-ab{
        position: absolute;
        left: 83px;
        bottom: 60px;
    }

    /* Activity page */    
    .hot{
        color:#fff;
        font-size: 33px;
        margin: 50px 50px 20px 350px;
          
    }
    .collection{
        width: 100%;
        height: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }   
    /* element page*/
    #Elements{
        padding: 270px 100px;
    }   
    .create{
        padding-bottom: 25px;
        padding-left: 260px;
    }
    .wallet{
        display: flex;
        width: 100%;
        height: 300px;
        justify-content: space-evenly; 
        flex-wrap: wrap; 
        gap: 20px;
    }
    .e-center{
        margin: 0 auto !important;
    }

    /* footer page */
    #footer{
        padding: 100px 10px;
    }
    #footer-input{
        margin-bottom: 10px;
    }
    .f-arrow{
        top:104px;
     }
    /* bottom page */


}
    
    /* 992px start */

@media screen and (max-width : 992px){
     /* home page */
     .home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content{
        width: 100%;
        text-align: center;
    }
    .m-btn{
        background-color: red;
    }
    .c-2{
        font-size: 3.2rem;
    }
    .c-3{
        font-size: 1rem;
    }
    .follow{
        justify-content: center;
    }
    .content2{
        width: 100%;
    }

    /* EXplore page */
    .card-main{
        width: 100%;
        display: flex;
        height: 200px;
        flex-direction: column;
       position: relative;
    }
    .item-ab2{
        position: absolute !important;
        top: 360px !important;
        background-color: red;
        z-index: 99;
    }
    .item-ab1{
        position: absolute !important;
        top: 360px !important;
        z-index: 99;
        right: 2 0px;
    }
    .card{
        width: 300px !important;
    }
    .day{
        left: 85px;
    }
    .day button{
        width: 110px;
        font-size: 9px !important;
    }
    .c-content{
        padding:15px 20px;
    }
    .c-content h4{
        font-size: 1.1rem;
    }
    .c-content h5{
        font-size: 1.1rem;
    }
    .c-img{
        height:150px;
        padding: 1px 10px;
    }
    .c-content p{
        position: absolute;
        right: 0;
        padding: 5px;
        bottom: -6px;
        font-size: 0.9rem;
    }

    /*seller page */
    .p-ab{
        position: absolute;
        left: 83px;
        bottom: 60px;
    }

    /* Activity page */    
    .hot{
        color:#fff;
        font-size: 33px;
        margin: 50px 50px 20px 350px;
          
    }
    .collection{
        width: 100%;
        height: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }   
    /* element page*/
    #Elements{
        padding: 270px 100px;
    }   
    .create{
        padding-bottom: 25px;
        padding-left: 260px;
    }
    .wallet{
        display: flex;
        width: 100%;
        height: 300px;
        justify-content: space-evenly; 
        flex-wrap: wrap; 
        gap: 20px;
    }
    .e-center{
        margin: 0 auto !important;
    }

    /* footer page */
    #footer{
        padding: 100px 10px;
    }
    #footer-input{
        margin-bottom: 10px;
    }
    .f-arrow{
        top:104px;
     }
    /* bottom page */


}


   /* 768px start */

   @media screen and (max-width : 768px){
    .m-btn{
        background-color: blue;
    }
    .c-3{
        font-size: 14px;
    }
}


   /* 576px start */

   @media screen and (max-width : 576px){
    .m-btn{
        background-color: orange;
    }
    .c-3{
        font-size: 14px;
    }
}
